
*{
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:400;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    transition-property: background-color;
    transition-duration: 2s;

}

body.ligth{
    background-color: hsl(236, 33%, 92%);
    background-image: url('./assets/images/bg-desktop-light.jpg');
}

body.dark{
    background-color: hsl(235, 21%, 11%);
    background-image: url('./assets/images/bg-desktop-dark.jpg');
}

.list{
    list-style: none;
}

@media screen and (min-width:360px){
    
}